.success_operation {
  background-color: var(--orange-lite-color) !important;
  color: black !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px 10px 15px;
  gap: 10px;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
}

.success_operation>div {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: var(--orange-color);
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success_operation p {
  min-width: 0;
  word-break: break-word;
}

.Toastify__progress-bar-theme--light {
  background: var(--orange-color) !important;
}

.Toastify__toast {
  padding: 0 !important;
  height: fit-content;
  background: var(--orange-lite-color) !important;
}