/* ==============
Start Filter Menu
================= */
.dress_body {
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 50px;
  position: relative;
}
.dress_body .filter-menu {
  min-width: 300px;
  max-width: 300px;
  height: fit-content;
  position: sticky;
  top: 20px;
  left: 0;
}
.dress_body .filter-menu .inner {
  height: 100%;
  padding-right: 0;
  padding-bottom: 0;
  overflow: auto;
}
@media (max-width: 1480px) {
  .dress_body .filter-menu {
    min-width: 330px;
    max-width: 330px;
  }
  .dress_body .filter-menu .inner {
    height: 100vh;
    padding-right: 20px;
    padding-bottom: 100px;
    overflow: auto;
  }
}
.dress_body .filter-menu h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}
.dress_body .filter-menu > div > div {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
}
.dress_body .filter-menu > div > div .h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dress_body .filter-menu > div > div .options-arrow {
  font-size: 20px;
  color: var(--orange-color);
  transition: 0.3s;
  display: none;
}
.dress_body .filter-menu > div > div .options {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
}
.dress_body .filter-menu > div > div .options > button {
  width: 140px;
  height: 60px;
  font-size: 18px;
  background-color: #ebebeb;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.dress_body .filter-menu > div > div .options > button:hover {
  background-color: var(--orange-lite-color);
}
.dress_body .filter-menu > div > div .options > button.option-choise {
  color: white;
  background-color: var(--orange-color);
}
.dress_body .filter-menu .price-range {
  border: none;
}
.dress_body .filter-menu .price-range .h3 {
  margin-bottom: 10px;
}
.dress_body .filter-menu .price-range .main-slider {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.dress_body .filter-menu .price-range .main-slider::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #8dd9fc;
  background-color: #ecf8ff;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  left: 0;
}
.dress_body .filter-menu .price-range .main-slider input {
  width: 100%;
  appearance: none;
  height: 10px;
  background-color: #f1f7fa;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
.dress_body .filter-menu .price-range .main-slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ecf8ff;
  border: 2px solid #8dd9fc;
  position: relative;
  z-index: 5;
}
.dress_body .filter-menu .price-range .main-slider .prograssBar {
  width: 50%;
  height: 10px;
  background-color: #8dd9fc;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 8px;
  transition: none;
}
.dress_body .filter-menu .price-range .text,
.dress_body .filter-menu .price-range .average {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  > span {
    font-size: 18px;
  }
}
.dress_body .filter-menu .price-range .average p {
  font-size: 12px;
  width: 80px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-menu-bar {
  font-size: 20px;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 0 50% 50% 0;
  background-color: var(--orange-color);
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 999px) {
  .dress_body .filter-menu {
    min-width: 250px;
    max-width: 250px;
  }
  .dress_body .filter-menu > div > div .h3 {
    font-size: 16px;
  }
  .dress_body .filter-menu > div > div .options > button {
    width: 90px;
    height: 50px;
    font-size: 12px;
  }
  .dress_body .filter-menu .price-range .text {
    span {
      font-size: 14px;
    }
  }
  .dress_body .filter-menu .price-range .average p {
    width: 60px;
    height: 35px;
    font-size: 8px;
  }
}
/* ============
End Filter Menu
=============== */

/* ========================
Start Product Viewing Place
=========================== */
.container .dress_body .product-viewing-place {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.container .dress_body .products-contianer {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  margin-bottom: 20px;
}
.container .dress_body .products-contianer .no_prodcut {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  > i {
    font-size: 50px;
    color: var(--gray-color);
  }
  h3 {
    font-size: 35px;
    color: var(--gray-color);
  }
}

.container .dress_body .products-contianer .shap-container {
  position: relative;
  min-width: 335px;
  animation: shapContainer 0.5s;
  display: none;
}
@keyframes shapContainer {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
.container .dress_body .products-contianer .shap-container.product_show {
  display: block;
}
.container .dress_body .products-contianer .shap-container .shap {
  position: relative;
  border: 2px solid #ccc;
  border-radius: 15px;
  mask: radial-gradient(80px at bottom right, #0000 98%, #000);
}
.container .dress_body .products-contianer .shap-container .support {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  border-left: 2px solid #ccc;
  border-top: 2px solid #ccc;
  border-radius: 100% 0 0 0;
}
.container .dress_body .products-contianer .shap-container a {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-color);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.container .dress_body .products-contianer .shap-container a:hover {
  box-shadow: 0 0 5px var(--orange-color);
}
.container .dress_body .products-contianer .shap-container a img {
  width: 30px;
}
.container .dress_body .products-contianer .shap-container .support::after {
  content: "";
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  top: -17px;
  right: -15px;
  border-radius: 0 0 100% 0;
}
.container .dress_body .products-contianer .shap-container .support::before {
  content: "";
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  bottom: -15px;
  left: -17px;
  border-radius: 0 0 100% 0;
}
.container .dress_body .products-contianer .shap-container .shap .head {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .dress_body .products-contianer .shap-container .shap .head span {
  font-size: 14px;
  color: var(--orange-color);
  padding: 5px 20px;
  border: 2px solid var(--orange-color);
  border-radius: 30px;
  line-height: 1.4;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .head
  span.had-installment {
  visibility: hidden;
}
.container .dress_body .products-contianer .shap-container .shap .head button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}
.container .dress_body .products-contianer .shap-container .shap .head button i {
  font-size: 25px;
  color: var(--orange-color);
  transition: 0.3s;
}
.container .dress_body .products-contianer .shap-container .shap .head button:hover {
  background-color: var(--orange-lite-color);
  border-color: transparent;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .head
  button.active-like {
  background-color: var(--orange-color);
  border-color: transparent;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .head
  button:hover
  > i,
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .head
  button.active-like
  > i {
  color: white;
}
.container .dress_body .products-contianer .shap-container .shap .image-container {
  text-align: center;
  margin-bottom: 10px;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .image-container
  img {
  width: 200px;
}
.container .dress_body .products-contianer .shap-container .shap .product-detiels {
  padding: 10px;
  margin: -2px;
  width: calc(100% + 4px);
  border-radius: 15px;
  border: 2px solid #ccc;
  height: 185px;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .product-detiels
  .offer {
  display: block;
  width: fit-content;
  font-size: 14px;
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: var(--orange-color);
  margin-bottom: 10px;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .product-detiels
  .off0 {
  visibility: hidden;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .product-detiels
  .product-name {
  width: 250px;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 1.4;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .product-detiels
  .rating-stars {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 500;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .product-detiels
  .rating-stars
  .stars {
  margin-right: 5px;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .product-detiels
  .rating-stars
  .stars
  i {
  color: #ccc;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .product-detiels
  .rating-stars
  .stars
  i.gold {
  color: gold;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .product-detiels
  .price {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .product-detiels
  .price
  .sell
  span {
  font-weight: bold;
  color: var(--orange-color);
  margin-right: 10px;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .product-detiels
  .price
  .was
  span {
  font-size: 16px;
  text-decoration: dashed line-through;
}
.container
  .dress_body
  .products-contianer
  .shap-container
  .shap
  .product-detiels
  .price
  .orignal {
  display: none;
}
@media (max-width: 650px) {
  .dress_body {
    gap: 0;
  }
  .dress_body .filter-menu {
    overflow: hidden;
    min-width: 0;
    max-width: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px #ccc;
    z-index: 10;
  }
  .dress_body .filter-menu-open {
    max-width: 230px;
    min-width: 230px;
    padding: 5px;
  }
  .dress_body .filter-menu h2 {
    display: none;
  }
  .container .dress_body .products-contianer .no_product h3 {
    font-size: 25px;
  }
  .container .dress_body .products-contianer .shap-container {
    min-width: 300px;
  }
  .container
    .dress_body
    .products-contianer
    .shap-container
    .shap
    .image-container
    img {
    width: 150px;
  }
  .filter-menu-bar {
    display: flex;
    transition: 0.5s;
  }
  .filter-menu-bar-active {
    left: 230px;
    z-index: 10;
  }
  .dress_body .filter-menu > div {
    margin-bottom: 0;
  }
  .dress_body .filter-menu > div .h3 {
    margin: 10px 0;
    transition: 0.3s;
    padding: 10px;
    cursor: pointer;
    > h3 {
      font-size: 16px;
    }
  }
  .dress_body .filter-menu > div .options-arrow {
    display: block;
    transition: 0.5s;
  }
  .dress_body .filter-menu > div .options-arrow-open {
    transform: rotate(90deg);
  }
  .dress_body .filter-menu > div .h3:hover,
  .dress_body .filter-menu > div .options-title-active {
    color: white;
    background-color: var(--orange-color);
    border-radius: 5px;
    > .options-arrow {
      color: white;
    }
  }
  .dress_body .filter-menu > div .options {
    display: none;
  }
  .dress_body .filter-menu > div .options-open,
  .dress_body .filter-menu > div .options-active {
    display: flex;
    animation: options 1s;
  }
  @keyframes options {
    0% {
      scale: 0;
    }
    100% {
      scale: 1;
    }
  }
  .dress_body .filter-menu .price-range {
    margin-top: 30px;
    > h3 {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  .dress_body .filter-menu > div {
    min-width: 220px;
    padding: 5px;
  }
  .container .dress_body .product-viewing-place {
    width: 100%;
  }
}
/* ======================
End Product Viewing Place
========================= */
